body{
    background: #000;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txtInput{
    width: 600px;
    height: 30px;
    border-radius: 5px;
}

.btn{
    width:200px;
    height: 30px;
    border-radius: 5px;
    background: none;
    color: white;
    border: 1px solid white;
}