body{
    background: #000;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

